<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pony.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pony.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @pony.color %>
</p>

<%= link_to 'Edit', edit_pony_path(@pony) %> |
<%= link_to 'Back', ponies_path %>
